<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="memberMapper">
  	<resultMap id="memberResultSet" type="com.kh.ez.member.model.vo.Member">
  		<result column="USER_NO" property="userNo" />
  		<result column="NICKNAME" property="nickName" />
  		<result column="USER_ID" property="userId" />
  		<result column="USER_PW" property="userPw" />
  	</resultMap>
  	
  		<insert id="signUp">
  			insert into member
  				values(SEQ_MNO.NEXTVAL,#{nickName},#{userId},#{userPw})
  		</insert>
  		
  		<select id="signIn" resultMap ="memberResultSet">
  			SELECT USER_ID,USER_PW,NICKNAME,USER_NO
  				FROM MEMBER 
  				WHERE USER_ID=#{userId} and USER_PW=#{userPw}
  		</select>
  		
  		<select id="searchUser" resultMap="memberResultSet">
  								SELECT USER_NO, NICKNAME FROM MEMBER
	  							WHERE NICKNAME LIKE '%' || #{nickName} || '%'
	  							
  		</select>
  		<insert id="addFriend">
  			INSERT INTO FRIEND
  				VALUES(#{userNo},#{friendNo},'Y')
  		</insert>
  		<select id="flist" resultMap="memberResultSet">
  							 SELECT M.USER_NO,NICKNAME 
							  FROM MEMBER M JOIN FRIEND F ON (M.USER_NO = F.FRIEND_NO)
							  WHERE F.USER_NO=#{userNo} AND STATUS='Y'
	  							
  		</select>
  		<delete id="deleteFriend">
  			
  			DELETE FROM FRIEND WHERE USER_NO=#{userNo} AND FRIEND_NO=#{friendNo}

  			
  		</delete>
  		<select id="selectUserByUserNo" resultMap="memberResultSet">
			SELECT * FROM MEMBER
			WHERE USER_NO = #{userNo}
		</select>
  	
  </mapper>