<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
   <mapper namespace="pgameMapper">
	   	<resultMap id="pgameResultSet" type="com.kh.ez.pgame.model.vo.Pgame">

	  		<result column="USER_NO" property="userNo" />
	  		<result column="PGAME_NO" property="pGameNo" />
	  		<result column="PGAME_TITLE" property="pGameTitle" />
	  		<result column="PGAME_COLOR" property="pGameColor" />
	  		<result column="PGAME_POSITION" property="pGamePosition" />
	  		<result column="PGAME_CHAMPION" property="pGameChampion" />
	  		<result column="PGAME_K" property="pGameK" />
	  		<result column="PGAME_D" property="pGameD" />
	  		<result column="PGAME_A" property="pGameA" />
	  		<result column="PGAME_WINLOSE" property="pGameWinLose" />
	  		<result column="PGAME_MVP" property="pGameMvp" />
	  	</resultMap>
		<resultMap id="pgameDtoResultSet" type="com.kh.ez.pgame.model.PgameDto">
			<result column="PGAME_NO" property="pGameNo" />
			<result column="NICKNAME" property="nickName" />
			<result column="PGAME_K" property="pGameK" />
			<result column="PGAME_D" property="pGameD" />
			<result column="PGAME_A" property="pGameA" />
			<result column="PGAME_WINLOSE" property="pGameWinLose" />

		</resultMap>
	<resultMap id="championResultSet" type="com.kh.ez.pgame.model.vo.Champion">
		<result column="CHAMPION_NO" property="championNo" />
		<result column="CHAMPION_NAME" property="championName" />
	</resultMap>
	  	
	  	<insert id="insertPrivateGame">
	  		INSERT INTO PRIVATEGAME(PGAME_NO,PGAME_TITLE,PGAME_COLOR,PGAME_POSITION,PGAME_CHAMPION,PGAME_K,PGAME_D,PGAME_A,PGAME_WINLOSE,PGAME_MVP,USER_NO)
	  		values(SEQ_PNO.NEXTVAL,#{pGameTitle},#{pGameColor},#{pGamePosition},#{pGameChampion},#{pGameK},#{pGameD},#{pGameA},#{pGameWinLose},#{pGameMvp},#{userNo})
	  	</insert>
  		<select id="selectPgameCount" resultType="_int">
  			SELECT COUNT(*) AS "PCOUNT"
  			FROM PRIVATEGAME 
  			WHERE USER_NO= #{userNo}
  		</select>
  		<select id="selectPgameWinCount" resultType="_int">
  			SELECT COUNT(*) AS "PGAME_WIN"
  			FROM PRIVATEGAME 
  			WHERE USER_NO= #{userNo} AND PGAME_WINLOSE=1
  		</select>
  		<select id="selectPgameLoseCount" resultType="_int">
  			SELECT COUNT(*) AS "PGAME_LOSE"
  			FROM PRIVATEGAME 
  			WHERE USER_NO= #{userNo} AND PGAME_WINLOSE=2
  		</select>	

  		<select id="selectKillCount" resultType="_int">
  			SELECT NVL(SUM(PGAME_K), 0) FROM PRIVATEGAME
  				WHERE USER_NO= #{userNo}
  		</select>
  		<select id="selectDeathCount" resultType="_int">
  			SELECT NVL(SUM(PGAME_D), 0) FROM PRIVATEGAME
  				WHERE USER_NO= #{userNo}
  		</select>
  		<select id="selectAssistCount" resultType="_int">
  			SELECT NVL(SUM(PGAME_A), 0) FROM PRIVATEGAME
  				WHERE USER_NO= #{userNo}
  		</select>
		<select id="topcount" resultType="_int">
			SELECT COUNT(*) FROM PRIVATEGAME
			WHERE USER_NO = #{userNo} AND PGAME_POSITION=1
		</select>

		<select id="jugcount" resultType="_int">
			SELECT COUNT(*) FROM PRIVATEGAME
			WHERE USER_NO = #{userNo} AND PGAME_POSITION=2
		</select>

		<select id="midcount" resultType="_int">
			SELECT COUNT(*) FROM PRIVATEGAME
			WHERE USER_NO = #{userNo} AND PGAME_POSITION=3
		</select>

		<select id="adccount" resultType="_int">
			SELECT COUNT(*) FROM PRIVATEGAME
			WHERE USER_NO = #{userNo} AND PGAME_POSITION=4
		</select>

		<select id="supcount" resultType="_int">
			SELECT COUNT(*) FROM PRIVATEGAME
			WHERE USER_NO = #{userNo} AND PGAME_POSITION=5
		</select>

  		<select id="selectPgameInfoByUserNo" resultMap="pgameDtoResultSet">
			SELECT PGAME_NO, NICKNAME, PGAME_WINLOSE , PGAME_K, PGAME_D,PGAME_A
			FROM 	(   SELECT PGAME_NO,NICKNAME,PGAME_WINLOSE, PGAME_K, PGAME_D,PGAME_A
						FROM PRIVATEGAME JOIN MEMBER USING (USER_NO)
						WHERE USER_NO = #{userNo}
						ORDER BY PGAME_NO DESC
					)
			WHERE ROWNUM &lt; = 13
		</select>
		<select id="getGameCountByNickName" resultType="_int">
			SELECT COUNT(*)
			FROM PRIVATEGAME JOIN MEMBER USING (USER_NO)
			WHERE NICKNAME = #{nickName}
		</select>

		<select id="getWinCountByNickName" resultType="_int">
			SELECT COUNT(*) AS "PGAME_WIN"
			FROM PRIVATEGAME JOIN MEMBER USING (USER_NO)
				WHERE NICKNAME = #{nickName} AND PGAME_WINLOSE=1
		</select>

		<select id="getChampionList" resultMap="championResultSet">
			SELECT * FROM CHAMPION

		</select>


   </mapper>