<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
</head>
<link rel="stylesheet" href="static/css/main.css"/>
<body>
    <div th:include="views/header"></div>
    <h2 align="center">공지사항</h2>
    <br>

    <div id="create-notice">
	    <form action="createNotice" method="post">
	    	<input type="text" placeholder="작성자" name="writer"/>
	    	<input type="text" placeholder="작성일" name="writeDate"/>
	    	<input type="text" placeholder="제목" name="noticeTitle"/>
	    	<input type="text" placeholder="내용" name="noticeContent"/>
	    	 <button type="submit" id="btn-createNoti"><span>글쓰기</span></button><br><br>
	    </form>
    </div>
     <div th:include="views/footer"></div>
</body>
</html>