<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style></style>
    <link rel="stylesheet" href="static/css/header.css"/>
</head>
<body>
    <div id='wrapper'>
        <hr>
        <div>
            <p>Copyright © 2018 tcpschool.co.,Ltd. All rights reserved.</p>
            <address>Contact webmaster for more information. 070-1234-5678</address>
        </div>
      </div>
      <footer></footer>
</body>
</html>