<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EZ.GG</title>
   <style></style>
   <link rel="stylesheet" href="static/css/header.css"/>
</head>
<body>
    <div th:if="${session.msg != null}">
        <script>
            alert("[[${session.msg}]]");

        </script>
    </div>
    <div class="banner">
        <div class="abc-area" th:if="${ session.loginUser == null }">
              <div>
                  <a href="/"><img src="static/icon/EZ.GG2.png"></a>
              </div>
              <div class="sign">
                  <a href="loginPage">| 로그인 |</a>
                  <a href="enrollForm">회원가입 |</a>
              </div>
        </div> 
        <div class="abc-area" th:if="${ session.loginUser != null }">
            <div>
                <a href="/"><img src="static/icon/EZ.GG2.png"></a>
            </div>
            <div class="sign">
                <a href="logout">| 로그아웃 |</a>
                <a href="myPage">마이페이지 |</a>
            	<label>
                	<p class="label-txt" th:text=" ${session.loginUser.nickName} +'님 환영합니다'"></p> 			
              	</label>	
                   <div th:include="views/modal"></div>
            </div>
        </div>
        <div id="go-area">
          <a href="/" class="go" id="go-home">홈</a>
          <a href="notice" class="go" id="go-notice">공지사항</a>
          <a href="myPage" class="go" id="go-myPage">마이페이지</a>
          <a href="privateGameInfo" class="go" id="go-pInfo">내전정보</a>
          <a href="createPrivateGame" class="go" id="go-createPgame">새게임</a>
          <a href="afterGame" class="go" id="go-afterGame">내전결과창</a> 
        </div>
            
  </div>
</body>
</html>