<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style></style>
<link rel="stylesheet" href="static/css/modal.css">

</head>

<body>
     			<div class="modal">
			        <div class="modal_body">
			        	<input type="hidden" th:value="${session.loginUser.userNo}" name="userNo" />
			       
			            <h3>친구목록</h3> <input type="text" placeholder="닉네임" th:value="${nickName}" name="nickName"/><button type="button" onclick="searchUser()">검색</button>
			     
			           
			            <hr>
			            <ul id="searchList">
			            	
			            </ul>
			            <hr>
			            <h3>내친구</h3>
			            <ul id="friendList" >
			            	 
			            </ul>
			        </div>
			    </div>
			    <br>

			    <button class="btn-open-modal"> <img src="static/icon/person-arms-up.svg"/> </button>

    <script>
        const modal = document.querySelector('.modal');
        const btnOpenModal=document.querySelector('.btn-open-modal');


        

        btnOpenModal.addEventListener("click", ()=>{
        	if(modal.style.display=="flex"){
        		modal.style.display="none";
        	} else {
				 modal.style.display="flex";
        	}

        });
        
        function searchUser(){
        	
        	$.ajax({
        		url : "searchUser",
        		type : "post",
        		data : {nickName: $("input[name=nickName]").val()},
        		success : function(result){
        				console.log(result);
        				if (result && result.length > 0) {		// "" ==> [{}]
        					let searchList = "";
        				
        					for (let i=0; i < result.length; i++) {
        						searchList += "<li>"
    								+ result[i].nickName 
    								+ "<input type='button' no='" + result[i].userNo + "' value='+' onclick='addFriends(this)' /> "
    							+ "</li>";
        						
        					}
        				
        					$("#searchList").html(searchList);
        				}
        		},
        		error : function(error){
        			
        		
        			}
        		
        	})
        }
        	
        
        function addFriends(target) {
        	alert('[내친구]에 추가되었습니다.');
        	$.ajax({
        		url : "addfriend",
        		type : "post",
        		data : {
        			userNo: $("input[name=userNo]").val(),
        			friendNo: $(target).attr('no')
        		},
        		success : function(result){
        			console.log(result);
        			viewFriends();
	        			
    			},
    			error : function(error){
		    			
    			}
       			    	
        	})
        }
        function viewFriends(){
        $.ajax({
    		url : "flist",
    		data: {userNo: $("input[name=userNo]").val()},
    		success: (result) => {
    			if (result && result.length > 0) {		// "" ==> [{}]
					let friendList = "";
				
					for (let i=0; i < result.length; i++) {
						friendList += "<li>"
							+ "<span onclick='viewFriendInfo(" + result[i].userNo + ")'>" + result[i].nickName + "</span>"
						+ "<input type='button' no='" + result[i].userNo + "' value='-' onclick='deleteFriend(this)' /> "
						+ "</li>";
						
					}
					if ($("#friendList")!= null ){
					$("#friendList").html(friendList);
					}
				}
    		},
    		error: (error) => {
    			
    		}
    	});
        }
        function deleteFriend(target) {
        	alert('친구삭제완료');
        	$.ajax({
        		url : "deleteFriend",
        		type : "post",
        		data : {
        			userNo: $("input[name=userNo]").val(),
        			friendNo: $(target).attr('no')
        		},
        		success : function(result){
        			console.log(result);
        			viewFriends();
	        			
    			},
    			error : function(error){
		    			
    			}
       			    	
        	})
        }
		 function viewFriendInfo(no) {
        	alert('[내친구] 정보 접속');

        	location.href = 'viewFriendInfo?friendNo='+no;

        }
    </script>
</body>
</html>