<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="static/css/myPage.css"/>
    <link rel="stylesheet" href="static/css/header.css"/>

</head>
<body>
    <div th:include="views/header"></div>

    
    <h2>마이페이지</h2><br>
    <div id="mypage">
       
        <div class="mypage-area">
            <div id="basicUserInfo">
                <img src="" value="userIcon"/>
                Hide on bush # KR1 <br>
                <img src="static/icon/tier-example.png" value="userTier"/><br>
                100전 99승 1패 <br>
                승률 : 99 % <br>
                주포지션 : MID <br>
                KDA : 3.1
            </div>
            <table id="basicUserRecord" border="1px">
                <tr>
                    <td>승리</td>
                </tr>
                <tr>
                    <td>승리</td>
                </tr>
                <tr>
                    <td>패배</td>
                </tr>
                <tr>
                    <td>승리</td>
                </tr>
                <tr>
                    <td>승리</td>
                </tr>
            </table>
        </div>
    </div>

    <div id='wrapper'>
        <hr>
         <div th:include="views/footer"></div>
</body>
</html>