<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사설게임정보</title>
    <link rel="stylesheet" href="static/css/myPage.css"/>
</head>
<body>
   	  <div th:include="views/header"></div>

    <h2>내전정보</h2>

    <div id="privategameInfo">
    	
        <div class="mypage-area">
            <div id="basicUserInfo">
                <img src="" alt="userIcon"/>
      
                
                <a class="label-txt" th:text="${session.loginUser.nickName}"></a>
                <img src="static/icon/tier-example.png" alt="userTier"/><br>
                <h3>내전티어 : <span th:text="${pTier}"></span></h3>
                <h3>주포지션 : <a class="info-posi"><span th:text="${pMostPosition}"></span></a></h3>
                <h3>주챔피언 : <a class="info-posi">가렌 </a></h3>
	    	
                <h3><span th:text="${pcount}"></span> 전 <span th:text="${pgame_win}"></span> 승 <span th:text="${pgame_lose}"></span> 패 </h3>
                <h3>승률 : <span th:text="${pgame_winrate}"></span> % </h3>
                <h3>KDA : <span th:text="${pgame_kda}" th:style="${pgame_kda >= 4 ? 'color:red;' : pgame_kda >= 3 ? 'color:blue;' : pgame_kda >= 2 ? 'color:green;': 'color:grey;'}"></span>  </h3>
                <h3>MVP SCORE : 11</h3>
            </div>
            <table id="basicUserRecord" border="1">
                <tr>
                    <td>승리(result)</td>
                </tr>
                <tr>
                    <td>승리</td>
                </tr>
                <tr>
                    <td>패배</td>
                </tr>
                <tr>
                    <td>승리</td>
                </tr>
                <tr>
                    <td>승리</td>
                </tr>
            </table>
        </div>
   
    </div>
    
   <div th:include="views/footer"></div>
</body>
</html>