<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사설게임정보</title>
    <link rel="stylesheet" href="static/css/myPage.css"/>
</head>
<body>
   	  <div th:include="views/header"></div>
    <br>
    <h1>내전정보</h1>

    <div id="privategameInfo">
    	
        <div class="mypage-area">
            <div id="basicUserInfo">
                <img src="" alt="userIcon"/>
      
                
                <a id="loginid" th:text="${session.loginUser.nickName}"></a><br><br>
                <img src="static/icon/tier-example.png" alt="userTier"/><br>
                <h3>내전티어 : <span th:text="${pTier}" th:style="${pTier == 'Iron' ? 'color:black;' :pTier == 'Bronze' ? 'color:brown;' : pTier == 'Silver' ? 'color:silver;' : pTier == 'Gold' ? 'color:gold;' : pTier=='Platium' ? 'color: #78e7cb;': pTier == 'Emerald' ? 'color:#4dfa8f;': pTier == 'Diamond' ? 'color: #ff00d4;' : pTier == 'Master' ? 'color:#d91dff;' : pTier == 'GrandMaster' ? 'color: red;': 'color: #fffb00;'}"></span></h3>
                <h3>주포지션 : <a class="info-posi"><span th:text="${pMostPosition}"></span></a></h3>
                <h3>주챔피언 : <a class="info-posi">가렌 </a></h3>
	    	
                <h3><span th:text="${pcount}"></span> 전 <span th:text="${pgame_win}"></span> 승 <span th:text="${pgame_lose}"></span> 패 </h3>
                <h3>승률 : <span th:text="${pgame_winrate}"></span> % </h3>
                <h3>KDA : <span th:text="${pgame_kda}" th:style="${pgame_kda >= 4 ? 'color:red;' : pgame_kda >= 3 ? 'color:blue;' : pgame_kda >= 2 ? 'color:green;': 'color:grey;'}"></span>  </h3>
                <h3>MVP SCORE : 11</h3>
            </div>
            <table id="basicUserRecord" border="1">
                <tr th:each="pRecord : ${pRecord}">
                    <td th:text="${pRecord.pWinLose}" th:style="${pRecord.pWinLose == '승리' ? 'background-color:#4884f3;' : 'background-color:#f73737;'}"></td>
                    <td th:text="|${pRecord.pGameK}&nbsp; / ${pRecord.pGameD}&nbsp; / ${pRecord.pGameA}|" th:style="${pRecord.pWinLose == '승리' ? 'background-color:#4884f3;' : 'background-color:#f73737;'}"></td>
                    <td th:text="${(pRecord.pGameK+pRecord.pGameA) / pRecord.pGameD}" th:style="${pRecord.pWinLose == '승리' ? 'background-color:#4884f3;' : 'background-color:#f73737;'}" ></td>
                </tr>

            </table>
        </div>
   
    </div>
    <script>
        onload = () => {

            const kda_list = document.querySelectorAll("#basicUserRecord td:nth-child(5)");
            kda_list.forEach((kda)=>{
                console.log(kda);
                kda.innerText = Number(kda.innerText).toFixed(2)
            });


        }

    </script>

   <div th:include="views/footer"></div>
</body>
</html>