#notice{
    margin-bottom: 100px;
    margin: auto;
   }
   h2 {
    color : red;
   }
   .notice-area{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
   }
   #tb-notice{
    width: 700px;
    }
     #tb-board{
      width: 700px;
      }
    .board{
        margin: 10px auto;
        width: 100%;
       
    }