@charset "UTF-8";
 #inp-searchId {
    margin: 10px;
    margin-top: 20px;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    padding-left: 7px;
    letter-spacing: 1px;
    color: black;
  }
  #inp-searchTag {
    width: 50px;
    height: 30px;
    border-radius: 7px;
    letter-spacing: 1px;
    
  }
  .notice-area{
    display: center;
    background-color: rgb(230, 230, 230);
    width:800px;
    height: 150px;
    margin: 0 auto;
  }

  .board-area{
    background-color: rgb(230, 230, 230);
    width:800px;
    height: 500px;
    margin: 0 auto;
  }
  #wrapper{
    height: auto;
    min-height: 100%;
    padding-bottom: (footer높이);
  
  }
  footer{
    height: (footer높이);
    position : relative;
    transform : translateY(-100%);
    
  }
 #notice {
    margin:0 auto;
}
.create-notice{
  display: center;
  margin:0 auto;
  width: 500px;
}
.ip-content{
  margin-left: 700px;
  width: 500px;
  height: 25px;
  border-color: #ff7070;
  padding: 5px;
background-color:#ff7070;
color:white;
font-weight:800; }

#inp-content{
  margin-left: 700px;
  height: 500px;
  padding: 5px;
  width:500px;
  border: 1px solid;
  border-color: #ff7070;


}
#noti-submit{
     width: 220px;
     height: 40px;
     background-color: white;
     color: rgb(43, 92, 184);
     margin-left: 850px;
     font-weight: 900;
     border-radius: 5px;
     border-color: rgb(43, 92, 184);
}
#noti-submit:hover {
background-color: #F7F7F7;
color: black;
cursor: pointer;
}
