@charset "UTF-8";
 .modal{
            position:absolute;
            display:none;
            
            justify-content: center;
            top:210px;
            right:0;
            border-color: grey;
            
            width:230px;
            height:84%;

            
            color: white;
            
             background-color:#8b8b8b;
        }
        .modal hr{
            width:230px;
            background:#474747;
            height:1px;

            border:0;
        }
        .btn-open-modal {
        	width: 80px;
        	height: 25px;
        	background-color: white;
        }