<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EZ.GG</title>
    <style>
    </style>
    <link rel="stylesheet" href="static/css/header.css"/>
    <link rel="stylesheet" href="static/css/main2.css"/>
    <link rel="stylesheet" href="static/css/notice.css"/>

</head>
<body>
<div th:include="views/header"></div>
<div th:include="views/banner"></div>
   
   
    <div class="content">
        <div id="search-area">
            <input type="text" id="search-bar" placeholder="소환사 검색" autocomplete="off"/>
            <button type="submit" id="search-btn">검색</button>
            <div class="autocomplete2"></div> 
        </div>
    </div>
    <div class="boardArea">
        <div id="notice">
            <div class="notice-area">
                <div>
                    <h2>공지사항</h2>
                    <form action="noticeList" method="post" >
                        <table align="center" class="list-area" border="1" id="tb-notice">
                            <thead>
                            <tr>
                                <th width="70">글번호</th>
                                <th width="300">제목</th></a>
                                <th width="100">작성자</th>
                                <th width="50">조회</th>
                                <th width="100">작성일</th>
                            </tr>
                            </thead>
                            <tbody>
                            
                            
                            </tbody>
                        </table>
                    </form>
                </div>
                <div>
                    <h2>자유게시판</h2>
                    <form action="boardList" method="post" >
                        <table align="center" class="list-area" border="1" id="tb-board">
                            <thead>
                            <tr>
                                <th width="70">글번호</th>
                                <th width="300">제목</th></a>
                                <th width="100">작성자</th>
                                <th width="50">조회</th>
                                <th width="100">작성일</th>
                            </tr>
                            </thead>
                            <tbody>


                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:include="views/footer"></div>
<script>
    onload = () => {
        getNoticeList();
        getBoardList();

        if (location.pathname == "/") {
            $("#btn-modal").show();
            viewFriends();
        } else {
            $("#btn-modal").hide();
        }
    };

    function getNoticeList() {
        $.ajax({
            url: "noticeList",
            success: (result) => {
                console.log(result);
                let value = "";
                if (result.length == 0) {
                    value += "<tr>"
                            + "<td colspan='6'>조회된 게시글이 없습니다.</td>"
                            +"</tr>";
                }

                for (let i=0; i<result.length; i++) {
                    value += "<tr>"
                                + "<td>" + result[i].noticeNo + "</td>"
                                + "<td>" + "<a style=\"color:#665959; font-weight: 700; text-decoration:none;\" href='noticeDetail?no=" + result[i].noticeNo + "'>" + result[i].noticeTitle + "</a>" + "</td>"
                                + "<td>" + result[i].writer + "</td>"
                                + "<td>" + result[i].noticeCount + "</td>"
                                + "<td>" + result[i].writeDate +"</td>"
                            + "</tr>";
                }
                document.querySelector('#tb-notice tbody').innerHTML = value;
            },
            error: (error) => {
                console.log(error);
            }
        });
    }
 function getBoardList() {
        $.ajax({
            url: "boardList",
            success: (result) => {
                console.log(result);
                let value = "";
                if (result.length == 0) {
                    value += "<tr>"
                            + "<td colspan='6'>조회된 게시글이 없습니다.</td>"
                            +"</tr>";
                }

                for (let i=0; i<result.length; i++) {
                    value += "<tr>"
                                + "<td>" + result[i].boardNo + "</td>"
                                + "<td>" + "<a style=\"color:#665959; font-weight: 700; text-decoration:none;\" href='boardDetail?no=" + result[i].boardNo + "'>" + result[i].boardTitle + "</a>" + "</td>"
                                + "<td>" + result[i].boardWriter + "</td>"
                                + "<td>" + result[i].boardCount + "</td>"
                                + "<td>" + result[i].boardWriteDate +"</td>"
                            + "</tr>";
                }
                document.querySelector('#tb-board tbody').innerHTML = value;
            },
            error: (error) => {
                console.log(error);
            }
        });
    }

</script>

</body>
</html>